.App {
  border: solid 1px black;
  width: 400px;
  margin: auto;
}

.Board {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.Button-0 {
  grid-column-start: 1;
  grid-column-end: 3;
}