* {
  box-sizing: border-box;
}

.App {
  border: solid 1px black;
  width: fit-content;
  margin: 50px auto;
}

.Board {
  width: fit-content;
  text-align: center;
}

.Board-row {
  display: flex;
  justify-content: space-between;
}